@charset "utf-8";
/*-------------------------------------------------
Create :  2017. 07. 11.(joetaiji)
-------------------------------------------------*/
@font-face { font-family: 'NotoSans'; src: url('../fonts/NotoSans-Thin.eot'); src: url('../fonts/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/NotoSans-Thin.woff2') format('woff2'),  url('../fonts/NotoSans-Thin.woff') format('woff');
	font-weight: 100; font-style: normal; }
@font-face { font-family: 'NotoSans'; src: url('../fonts/NotoSans-Light.eot'); src: url('../fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/NotoSans-Light.woff2') format('woff2'),  url('../fonts/NotoSans-Light.woff') format('woff');
	font-weight: 200; font-style: normal;
}
@font-face { font-family: 'NotoSans'; src: url('../fonts/NotoSans-DemiLight.eot'); src: url('../fonts/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/NotoSans-DemiLight.woff2') format('woff2'),  url('../fonts/NotoSans-DemiLight.woff') format('woff');
	font-weight: 300; font-style: normal; }
@font-face { font-family: 'NotoSans'; src: url('../fonts/NotoSans-Regular.eot'); src: url('../fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/NotoSans-Regular.woff2') format('woff2'),  url('../fonts/NotoSans-Regular.woff') format('woff');
	font-weight: 400; font-style: normal; }
@font-face { font-family: 'NotoSans'; src: url('../fonts/NotoSans-Medium.eot'); src: url('../fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/NotoSans-Medium.woff2') format('woff2'),  url('../fonts/NotoSans-Medium.woff') format('woff'); 
	font-weight: 500; font-style: normal; }
@font-face { font-family: 'NotoSans'; src: url('../fonts/NotoSans-Bold.eot'); src: url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/NotoSans-Bold.woff2') format('woff2'),  url('../fonts/NotoSans-Bold.woff') format('woff');
	 font-weight: 600; font-style: normal; }
@font-face{
	font-family:NanumSquare;
	src:url('../fonts/NanumSquareR.eot');
	src:local(※), url('../fonts/NanumSquareR.woff') format('woff');
	font-weight:400;
}

@font-face{
	font-family:NanumSquare;
	src:url('../fonts/NanumSquareB.eot');
	src:local(※),
	url('../fonts/NanumSquareB.woff') format('woff');
	font-weight:600;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-light.eot');
    src: url('../fonts/Gotham-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-book.eot');
    src: url('../fonts/Gotham-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-medium.eot');
    src: url('../fonts/Gotham-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-bold.eot');
    src: url('../fonts/Gotham-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
html {	margin: 0;	padding: 0;	-webkit-text-size-adjust: none;	-moz-text-size-adjust: none;	-ms-text-size-adjust: none;	}
body {	margin: 0;	padding: 0;	color: #636363;	line-height: 1.6;	vertical-align: baseline;
	font-family: "맑은 고딕", Malgun Gothic, "돋움", Dotum, "굴림", Gulim, Tahoma, Verdana, AppleGothic, UnDotum, sans-serif;	}

/* render html5 elements as block */
header, footer, article, section, aside, nav, main {	display: block;	}
a {	color: inherit;	text-decoration: none;	}

img {	border: none;	}
select, input, textarea {	border: solid 1px #b4b6ba;	vertical-align: middle;	font-family: "맑은 고딕", Malgun Gothic, arial, helvetica, clean, sans-serif;	font-size: 1em;	}
select {	padding: 2px;	}
input[type="radio"], input[type="checkbox"], input[type="image"] {	width: auto;	border: none;	}
input[type="text"], input[type="tel"], input[type="search"], input[type="number"], input[type="date"], input[type="email"], input[type="password"] {	padding: 2px;	-webkit-appearance: none;	}
input[type="submit"], input[type="button"] {	border: none;	cursor: pointer;	_cursor: hand;	-webkit-appearance: none;	}
ul, ol, li, dl, dt, dd, p,h1, h2, h3, h4, h5, h6 {margin: 0;	padding: 0;	}
li{list-style: none;}
hr {height:1px;}
* button {	background: none;	border: 0;	cursor: pointer; _cursor: hand;	text-decoration: none;	white-space: nowrap;	}
em {	font-style: normal;	}
form  {	margin: 0;	padding: 0;	}
fieldset  {	margin: 0;	padding: 0;	border: none;	}
legend  {	width: 100%;	height: 0;	color: transparent;	overflow: hidden;	}
iframe {	margin: 0;	padding: 0;	border: currentcolor;	border-image-source: none;	}

/* skip navgation STYLE */
#accessibility { position: relative;  width: 100%;  margin: 0 auto;	font-size: 1.3em;	z-index: 200;	}
#accessibility dt { width: 100%;	height: 0;	font-size:  0;	line-height: 0;	}
#accessibility a {	display:block;	position: absolute;	top: -10000px;	left: 0;	width: 100%;	height: 0;	text-align:center;	font-size: 1em;	z-index: 200;	}
#accessibility a:hover,
#accessibility a:focus,
#accessibility a:active{	position: absolute;	top: 0;	padding: 10px 0 25px;	background: #1d60a7;	color: #fff;	z-index: 200;	}
